html,body{
    /*direction: rtl;*/
    width: 100% !important;
    height: 100% !important;
    background-color: #232323 !important;
    color: white !important;
}
.w-100{
    width: 100% !important;
}
.w-25{
    width: 25% !important;
    margin: 0 3% !important;
}
.w-50{
    width: 50% !important;
    margin: 0 3% !important;
}
.h-50{
    height: 50% !important;
}
.h-100{
    height: 100% !important;
}
.df{
    display: flex !important;
}
.dg{
    display: grid !important;
}
.jcc{
    justify-content: center !important;
}
.jcs{
    justify-content: start;
}
.jce{
    justify-content: end;
}
form{
    border: solid white 3px !important;
}
input[type="text"],input[type="password"],input[type="email"]
,input[type="date"]
,input[type="file"]
,input[type="number"]
,input[type="checkbox"]
,textarea
{
    font-size: 25px ;
    margin: 10px ;
}
label{
    font-size: 30px !important;
    margin: 10px !important;
}
.sb{
    font-size: 30px ;
    margin: 10px !important;
    padding: 5px 30px !important;
    background-color: #232323 !important;
    color: white !important;
    border: solid white 3px !important;
}
.sb:hover{
    background-color: white !important;
    color: #232323 !important;
    border: solid white 3px !important;
}
.ed{
    color: red !important;
    font-size: 30px !important;
    margin-top: 30px !important;
}
.lang{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
th,td{
    background-color: #232323;
}
.users-table{
    background-color: white;
    font-size: 25px;
}
.reject{
    background-color: red;

}
.approve{
    background-color: green;
}
.apply-changes{
    font-size: 25px;
    border: none;
    background-color: yellow;
    color: black;

}
.apb{
}
