<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:attr="dir=#{dir}">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div class="w-100 jce df" style="font-size: 30px"><a class="lang" style="border: solid white 2px;padding: 5px" href="#" onclick="back();return false;" th:text="#{back}"></a><a class="lang" href="#" onclick="updateLang('fa');return false;" >فارسی</a>|<a class="lang" href="#" onclick="updateLang('en');return false;">English</a></div>
<div class="w-100 df jcc">
    <h1 th:text="#{add.question}"></h1>
</div>
<div class="w-100 df jcc " >
    <form id="form">
        <input type="hidden" id="courseId" th:value="${courseId}">
        <input type="hidden" id="professorId" th:value="${professorId}">
        <input type="hidden" id="examId" th:value="${examId}">
        <label for="title" th:text="#{title}"></label><br>
        <input type="text" id="title" required><br>
        <label th:text="#{question}"></label><br>
        <div style="width: 95%;background-color: white;color: black;margin-left: 10px;">
            <div id="editor" class="h-100 w-100"></div><br>
        </div>
        <label for="grade" th:text="#{question.grade}"></label><br>
        <input type="number" id="grade"><br>
        <label for="type" th:text="#{question.type}"></label><br>
        <select id="type" style="font-size: 20px;margin-left: 10px" onchange="onTypeChange(this)" required>
            <option value="ESSAY" th:text="#{essay}">Essay</option>
            <option value="MULTI_CHOICE" th:text="#{multi.choice}">Multi Choice</option>
        </select><br>
        <div id="choices"></div>
        <button id="addChoiceBtn" class="sb" type="button" th:text="#{add.choice}" style="display: none;font-size: 15px" onclick="addChoice()">➕ افزودن گزینه</button>
        <br><label for="save" th:text="#{save.in.bank}"></label>
        <input id="save" type="checkbox"><br>
        <div class="w-100 df jcc">
            <button class="sb" type="submit" th:text="#{add.question}"></button>
        </div>
    </form>
</div>
<div id="error-div" class="w-100 df jcc ed">

</div>
</body>
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<script>
    const form = document.getElementById("form");
    const titleInp = document.getElementById("title");
    const typeInp = document.getElementById("type");
    const courseId = document.getElementById("courseId").value;
    const professorId = document.getElementById("professorId").value;
    const examId = document.getElementById("examId").value;
    const errorDiv = document.getElementById("error-div");
    const choicesDiv = document.getElementById("choices");
    const addChoiceBtn = document.getElementById("addChoiceBtn");
    const saveBox = document.getElementById("save");
    const gradeInp = document.getElementById("grade");
    form.addEventListener("submit",function (event) {
        event.preventDefault();
        const choiceDivs = document.querySelectorAll(".choice");
        const choices = [];
        const correctIndex =
            document.querySelector('input[name="correctChoice"]:checked')?.value;
        let correctChoice;
        choiceDivs.forEach((div, index) => {
            const text = div.querySelector(".choice-text").value;

            choices.push(text);
            if(String(index) === correctIndex){
                correctChoice = text;
            }
        });
        const title = titleInp.value;
        const type = typeInp.value;
        const save = saveBox.checked;
        const grade = gradeInp.value;
        const question = quill.root.innerHTML;
        let data = {title,question,type,choices,correctChoice,courseId,professorId,examId,save,grade}
        fetch("/api/v1/professor/add-question",{
                method: "POST",
                credentials: 'include',
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify(data)
            }
        ).then(async res => {
            if (!res.ok) {
                const errorBody = await res.json();

                throw new Error(errorBody.message)
            }

            window.location.replace(`/professor/exam-details?id=`+examId)
        })
            .catch(error => {
                errorDiv.innerText = error.message
            })

    })
    function back(){
        window.location.replace(`/professor/exam-details?id=`+examId)
    }
    function updateLang (lang){
        let url = new URL(window.location.href)
        url.searchParams.set('lang',lang);
        window.location.href = url.toString();
    }
    let quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{ 'direction': 'rtl' }],
                [{ 'align': [] }],
                ['bold', 'italic', 'underline'],
                [{ 'size': ['small', false, 'large', 'huge'] }],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                ['image', 'formula'],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
                ['clean']
            ]
        }
    });
    function onTypeChange(select) {
        const value = select.value;

        if (value === 'ESSAY') {
            choicesDiv.style.display = "none";
            addChoiceBtn.style.display = "none";
        }

        if (value === 'MULTI_CHOICE') {
            choicesDiv.style.display = "inline";
            addChoiceBtn.style.display = "inline";
        }
    }
    let choiceIndex = 0;

    function addChoice() {
        const div = document.createElement("div");
        div.classList.add("choice");

        div.innerHTML = `
        <input type="text" class="choice-text" required>
        <input type="radio" name="correctChoice" value="${choiceIndex}">
        <button type="button" onclick="removeChoice(this)">❌</button>
    `;

        choicesDiv.appendChild(div);
        choiceIndex++;
    }

    function removeChoice(btn) {
        btn.parentElement.remove();
    }

</script>
</html>