<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:attr="dir=#{dir}">
<head>
    <meta charset="UTF-8">
    <title>Pending Users</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div class="w-100 jce df" style="font-size: 30px"><a class="lang" style="border: solid white 2px;padding: 5px" href="/home" th:text="#{home}"></a><a class="lang" href="?lang=fa">فارسی</a>|<a class="lang" href="?lang=en">English</a></div>
<div class="df w-100 jcc">
    <h1 th:text="#{pending.users}">Pending Users</h1>
</div>
<div class="w-100 df jcc">
    <form th:action="@{/manager/search}" method="get" th:switch="${dto.role()}">
        <button type="submit" style="font-size: 20px;background: none;border: solid white 1px;color: white" th:text="#{search}"></button>
        <input type="text" name="firstName" th:value="${dto.firstName()}" th:placeholder="#{register.first.name}">
        <input type="text" name="lastName" th:value="${dto.lastName()}" th:placeholder="#{register.last.name}">
        <input type="text" name="nationalCode" th:value="${dto.nationalCode()}" th:placeholder="#{register.nationalCode}">
        <select name="role" style="font-size: 30px" th:case="''">
            <option value=""></option>
            <option value="PROFESSOR" th:text="#{register.role.p}"></option>
            <option value="STUDENT" th:text="#{register.role.s}"></option>
        </select>
        <select name="role" style="font-size: 30px" th:case="'PROFESSOR'">
            <option value="PROFESSOR" th:text="#{register.role.p}"></option>
            <option value="STUDENT" th:text="#{register.role.s}"></option>
            <option value=""></option>
        </select>
        <select name="role" style="font-size: 30px" th:case="'STUDENT'">
            <option value="STUDENT" th:text="#{register.role.s}"></option>
            <option value="PROFESSOR" th:text="#{register.role.p}"></option>
            <option value=""></option>
        </select>
    </form>
</div>
<div th:if="${users.isEmpty()}" class="w-100 df jcc">
    <h1 th:text="#{pending.usersEmpty}"></h1>
</div>
<div th:if="${!users.isEmpty()}" class="df w-100 jcc">
    <table class="users-table">
        <tr>
            <th th:text="#{login.username}"></th>
            <th th:text="#{register.email}"></th>
            <th th:text="#{register.nationalCode}"></th>
            <th th:text="#{register.first.name}"></th>
            <th th:text="#{register.last.name}"></th>
            <th th:text="#{pending.role}"></th>
            <th th:text="#{pending.edit}"></th>
            <th th:text="#{pending.approve}"></th>
            <th th:text="#{pending.reject}"></th>

        </tr>
        <tr th:each="user : ${users}" th:switch="${user.role()}">
            <td th:text="${user.username()}"></td>
            <td th:text="${user.email()}"></td>
            <td th:text="${user.nationalCode()}"></td>
            <td th:text="${user.firstName()}"></td>
            <td th:text="${user.lastName()}"></td>
            <td th:case="'PROFESSOR'" th:text="#{register.role.p}"></td>
            <td th:case="'STUDENT'" th:text="#{register.role.s}"></td>
            <td class="apply-changes"><a style="text-decoration: none;color: black" th:href="'/manager/edit?id='+${user.id()}" th:text="#{pending.edit}"></a></td>
            <td class="approve"><a style="text-decoration: none;color: white" th:href="'/manager/approve?id='+${user.id()}" th:onclick="'return confirm('+#{approve.message}+')'" th:text="#{pending.approve}"></a></td>
            <td class="reject"><a style="text-decoration: none;color: white" th:href="'/manager/reject?id=  '+${user.id()}" th:onclick="'return confirm('+#{reject.message}+')'" th:text="#{pending.reject}"></a></td>
        </tr>
    </table>
</div>
</body>
</html>